{% extends "base.html" %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <title align="center">Your Patient List</title>
    <link href="static/css/jackie.css" type="text/css" rel="stylesheet" >
  </head>
  <body>
	<h1>Welcome, {{current_user.username}}!</h1>
<!--	<h2>To start assigning an intervention, please select a student that you would like to work with:</h2> -->
	<div id = "top_hypers">
		<ul id ="hypers" style = "list-style-type:none">
			<li><a href="{{ url_for('assign', username=current_user.username) }}">Assign an Intervention to a Patient</a></li>
			<li><a href="patient2.html">View Patients</a></li>
			<li><a href="patient3.html">Register a new Patient</a></li>
		</ul>
	</div>
  </body>
{% endblock %}
